﻿@model Lisandro.Models.sector

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>sector</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ref_Sector)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ref_Sector)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion_Sector)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion_Sector)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
