﻿@model IEnumerable<Lisandro.Models.sector>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ref_Sector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion_Sector)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ref_Sector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion_Sector)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { item.Ref_Sector }) |
            @Html.ActionLink("Details", "Details", new { item.Ref_Sector }) |
            @Html.ActionLink("Delete", "Delete", new { item.Ref_Sector })
        </td>
    </tr>
}

</table>
