﻿@model Lisandro.Models.persona

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>persona</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.C_C)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.C_C)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rol)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
